<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
  <title>云可</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but kumoko doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app">
    <div v-if="!isMine">
      <div>
        名字：<span v-if="!isEdit">{{ user.name }}</span><input v-else v-model="user.name" /><button @click="editName">
          {{ isEdit ? "保存" : "修改" }}
        </button>
      </div>
      <div>云币：{{ user.money }}枚</div>
      <div>打工点数：{{ user.baitoPoint }}点</div>
      <div>道具：
        <span v-for="(item, index) in user.items" :key="index">
          {{item.name}}x{{item.num}}|
        </span>
        <span v-if="user.items.length == 0">无</span>
      </div>
      <div>
        自动存档：{{ user.autoSave ? "已开启" : "未开启"
        }}<button @click="editAutoSave">{{ user.autoSave ? "关闭" : "开启" }}</button>
      </div>
      <button @click="saveGame">存档</button><button @click="outputSave">导出存档</button><button
        @click="inputSave">导入存档</button>
      <div>
        <div>菜单</div>
        <div>
          <button @click="changeModel(index)" v-for="(item, index) in menu" :key="index" :disabled="
          !(
            user.lockMenu.indexOf(item.id) > -1 ||
            (user.lockMenu.indexOf(item.id) == -1 && user.money >= item.lock)
          )
        ">
            <span>{{
              user.lockMenu.indexOf(item.id) == -1 && user.money >= item.lock ? "解锁" : ""
              }}</span>{{ item.name }}
          </button>
        </div>
      </div>
      <div>{{ menu[pageNum].name }}</div>
      <div v-if="menu[pageNum].id == 0">
        <button @click="startBaito(index)" v-for="(item, index) in baitoMenu" :key="index" :disabled="
        !(
          user.lockBaito.indexOf(item.id) > -1 ||
          (user.lockBaito.indexOf(item.id) == -1 && user.baitoPoint >= item.lock)
        )
      ">
          <span>{{
            user.lockBaito.indexOf(item.id) == -1 && user.baitoPoint >= item.lock
            ? "解锁"
            : ""
            }}</span>{{ item.name }}
        </button>
      </div>
      <div v-else-if="menu[pageNum].id == 1">
        <div v-for="(item, index) in shop" :key="index">
          <div>{{ item.name }}：</div>
          <div v-for="(item1, index1) in item.list" :key="'shop-'+index1">
            <div v-for="(items, itemI) in itemList[index]" :key="'items-'+itemI">
              <div v-if="item1 == items.id">
                {{ items.name }}-{{ items.money }}元<button @click="shopBuy(index,items)"
                  :disabled="user.money < items.money">
                  购买
                </button>
              </div>
            </div>
          </div>
          <div v-if="item.list.length == 0">暂无</div>
        </div>
      </div>
      <div v-else-if="menu[pageNum].id == 3">
        <button @click="startMine">开始挖矿</button>
      </div>
    </div>
    <div v-else><button @click="endMine">返回</button>
      <div>矿洞{{floor}}层</div>
      <div>剩余体力：{{life}}</div>
      <div>战利品：
        <span v-for="(item, index) in mineItems" :key="index">
          {{item.name}}x{{item.num}}|
        </span>
        <span v-if="mineItems.length == 0">无</span>
      </div>
      <div style="max-width:600px;display:flex;flex-wrap: wrap;background: black;">
        <div
          style="height: 30px;width: 30px;border: 1px solid;margin: 1px;font-size: 12px;text-align: center;line-height: 30px;"
          v-for="(item, index) in mineList" :key="index"
          :style="!item.hasMine?'background:darksalmon':item.isStair?'background: red;':item.isHole?'background: black;color:white':'background:white'"
          @click="item.isStair || item.isHole?goDownStair(item):mineMines(index)">
          <div v-if="item.hasMine">{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        user: {
          name: "云可",
          money: 0,
          autoSave: false,
          lockMenu: [0, 1], // 已解锁功能
          baitoPoint: 0, // 打工点数
          lockBaito: [0], // 已解锁打工
          items: [], // 拥有道具
        },
        pageNum: 0,
        isEdit: false,
        menu: [{ id: 0, name: '打工', lock: 0 },
        { id: 1, name: '商店', lock: 0 },
        { id: 2, name: '种地', lock: 50 },
        { id: 3, name: '挖矿', lock: 100 },
        { id: 4, name: '合成', lock: 200 },
        { id: 5, name: '冒险', lock: 200 }],
        // 打工相关
        baitoMenu: [{ id: 0, name: '整理', money: 10, lock: 0, time: 5, point: 1 },
        { id: 1, name: '跑腿', money: 30, lock: 10, time: 10, point: 2 },
        { id: 2, name: '售卖', money: 80, lock: 20, time: 20, point: 5 },
        { id: 3, name: '社长', money: 100, lock: 50, time: 30, point: 10 }],
        // 商店相关
        shop: [{ name: "道具", list: [] },
        { name: "农场", list: [0] }],
        // 道具相关
        itemList: [
          // 日常
          [],
          // 农场
          [{ id: 0, name: "bt种子", money: 2 },
          { id: 1, name: "bt资源", money: 10 }],
          // 挖矿
          [{ id: 0, name: "石头", rare: 1 },
          { id: 1, name: "煤块", rare: 2 },
          { id: 2, name: "铜块", rare: 3 },
          { id: 3, name: "金块", rare: 4 },
          { id: 4, name: "胖次", rare: 5 }]
        ],
        // 挖矿相关
        isMine: false,
        mineList: [],
        floor: 1,
        life: 1000, // 体力
        mineItems: [], // 挖矿战利品
      },
      methods: {
        // 打工
        startBaito(index) {
          let user = this.user
          let item = this.baitoMenu[index]
          if (user.lockBaito.indexOf(item.id) > -1) {
            user.money = user.money + item.money
            user.baitoPoint = user.baitoPoint + item.point
          } else if (user.lockBaito.indexOf(item.id) == -1 && user.baitoPoint >= item.lock) {
            user.baitoPoint = user.baitoPoint - item.lock
            user.lockBaito.push(item.id)
            alert("已解锁 " + item.name)
            user.money = user.money + item.money
          }
          if (this.user.autoSave) {
            this.saveGame()
          }
        },
        // 商店
        shopBuy(index, item) {
          let list = this.itemList[index]
          this.updateItems(item);
          this.user.money = this.user.money - item.money
          if (this.user.autoSave) {
            this.saveGame()
          }
        },
        // 挖矿
        startMine() {
          let mine = this.itemList[2]
          let list = []
          for (let i = 0; i <= 200; i++) {
            let random = Math.random() * 100
            let item = {
              index: i,
              name: "",
              itemId: "",
              hasMine: false,
              isStair: false, // 是否楼梯
              isHole: false, // 是否深坑
              jump: 0, // 深坑跳跃层级
            }
            // rare:1 55%;rare:2 30%;rare:3 10%；rare:4 4%;rare:5 1%
            let rare = 0
            let up = (this.floor - 1) * 0.01 > 5 ? 5 : (this.floor - 1) * 0.01
            if (random <= 1 + up) {
              rare = 5
            } else if (random <= 2.4 + up) {
              rare = 4
            } else if (random <= 6 - up) {
              rare = 3
            } else if (random <= 18 - up) {
              rare = 2
            } else if (random <= 33 - up) {
              rare = 1
            }
            if (rare) {
              let rareList = this.itemList[2].filter((e) => {
                return e.rare == rare
              })
              let index = Math.floor(Math.random() * (rareList.length))
              item.name = rareList[index].name
              item.itemId = rareList[index].id
            }
            list.push(item)
          }
          let temp = list.filter((e) => {
            return !e.name
          })
          // 计算楼梯
          let stair = Math.floor(Math.random() * (temp.length))
          let stairI = temp[stair].index
          list[stairI].isStair = true
          list[stairI].name = "楼梯"
          list[stairI].jump = 1
          // 计算下落的洞
          // 0个洞 70%;1个洞 17%;2个洞 9%;3个洞 4%
          let holeFlag = Math.random() * 100
          let num
          if (holeFlag <= 4) {
            num = 3
          } else if (holeFlag <= 9) {
            num = 2
          } else if (holeFlag <= 17) {
            num = 1
          } else if (holeFlag <= 70) {
            num = 0
          }
          if (num > 0) {
            for (let h = 1; h <= num; h++) {
              let tempH = list.filter((e) => {
                return !e.name
              })
              let hole = Math.floor(Math.random() * (tempH.length))
              let holeI = tempH[stair].index
              list[holeI].isHole = true
              // 最多跳10层
              list[holeI].jump = Math.round(Math.random() * 4) + 1
              list[holeI].name = "洞"
            }
          }
          this.mineList = list
          this.isMine = true
        },
        mineMines(index) {
          let item = this.mineList[index]
          if (item.hasMine) {
            return
          }
          if (!item.name) {
            this.mineList[index].hasMine = true
            this.life = this.life - 1
            return
          }
          let mineItems = this.mineItems
          let itemIndex = mineItems.findIndex((e) => {
            return e.itemId === item.itemId
          })
          if (itemIndex > -1) {
            mineItems[itemIndex].num = mineItems[itemIndex].num + 1
          } else {
            mineItems.push({ itemId: item.itemId, name: item.name, num: 1 })
          }
          item.hasMine = true
          this.life = this.life - 1
          if (this.life <= 1) {
            this.endMine()
          }
        },
        endMine() {
          alert("结束挖矿")
          this.isMine = false
          this.floor = 1
          this.mineItems = []
          this.life = 1000
        },
        // 下楼梯
        goDownStair(item) {
          if (item.isHole) {
            alert("踩到洞了，掉落" + item.jump + "层")
            this.life = this.life - item.jump
          } else if (item.isStair && !item.hasMine) {
            item.hasMine = true
            return
          }
          this.floor = this.floor + item.jump
          this.startMine()
          if (this.life <= 1) {
            this.endMine()
          }
        },
        // 系统
        updateItems(item) {
          let userItem = this.user.items
          let itemIndex = userItem.findIndex((e) => {
            return e.itemId === item.id
          })
          if (itemIndex > -1) {
            userItem[itemIndex].num = userItem[itemIndex].num + 1
          } else {
            userItem.push({ itemId: item.id, name: item.name, num: 1 })
          }
        },
        changeModel(index) {
          let user = this.user
          let item = this.menu[index]
          if (item.id > 3) {
            alert("锐意制作中！")
            return
          }
          if (user.lockMenu.indexOf(item.id) > -1) {
            this.pageNum = index
          } else if (user.lockMenu.indexOf(item.id) == -1 && user.money >= item.lock) {
            user.money = user.money - item.lock
            user.lockMenu.push(item.id)
            alert("已解锁 " + item.name)
            this.pageNum = index
          }
          if (this.user.autoSave) {
            this.saveGame()
          }
        },
        editAutoSave() {
          let autoSave = this.user.autoSave
          if (autoSave) {
            this.user.autoSave = false
          } else {
            this.user.autoSave = true
          }
          this.saveGame()
        },
        editName() {
          if (this.isEdit) {
            this.isEdit = false
          } else {
            this.isEdit = true
          }
          if (this.user.autoSave) {
            this.saveGame()
          }
        },
        outputSave() {
          alert("锐意制作中！")
        },
        inputSave() {
          alert("锐意制作中！")
        },
        saveGame() {
          let data = encodeURIComponent(JSON.stringify(this.user))
          let str64 = window.btoa(data)
          localStorage.setItem("kumokoData", str64)
          alert("保存成功")
        },
        loadGame() {
          let str64 = localStorage.getItem("kumokoData")
          if (str64) {
            let data = window.atob(str64)
            this.user = JSON.parse(decodeURIComponent(data))
          }
        }
      },
      mounted() {
        this.loadGame()
      },
    })
  </script>
</body>

</html>