*{ cursor: url(../cur1.cur),url(../cur1.cur), default; }
a{ cursor: url(../cur2.cur),url(../cur2.cur), pointer; }

body{
    width: 80%;
    margin:auto;
    background-color: #000000;
    background-image: url("../images/3px-tile.png");
}

header{
    width: 100%;
}

.english{
    font-family: Impact;
}

.title{
    font-size:35px;
    padding:10px 20px;
    background: #6c7d798f;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.menu{
    background: #000000;
}

.menu a{
    display:inline-block;
    padding:8px 0px;
    width:calc(20% - 3.5px);
    text-align:center;
    color:#ffffff;
    position: relative;
    border-bottom:3px solid #000000;
}

.menu a:hover{
    background:#0c4d6d;
    border-color:#0c4d6d;
}

.menu a.active{
    border-bottom:3px solid #08344a;
    color:#17a2b8;
}

.menu a.active span{
    color:#17a2b8;
}

#particles-js{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left:0px;
}